{% include 'header.html.twig' %}

{% if user is defined %}
    <div id="loggedUser">Zalogowano jako: {{ user.getName() }} </div>
        <table class="list">
            <th>
                <td><a href="upload"><div class="kloc">Upload</div></a></td>
                <td><a href="logout"><div class="kloc">Log out</div></a></td>
            </th>
        </table>
    {% else %}
        <table class="list">
            <th>
                <td><a href="login"><div class="kloc">Sign in</div></a></td>
                <td><a href="register"><div class="kloc">Sign up</div></a></td>
            </th>
        </table>
    {% endif %}
    <h1>{{pageTitle}}</h1>
<div id="pageContainer">
    
    {% for post in postArray %}
    <div id="post">
        <img src='img/{{ post.getFilename() }}.webp'>
        <h5>Autor: {{post.getAuthorName()}} </h5>
        <h6>Post date: {{post.getTimestamp()}}</h6>
        <button onclick="location.href='like/{{ post.getId }}'" class="upvote" type="button">▲</button>
        <div class="votecounter"> {{ post.getLikes() }} </div>
        <button onclick="location.href='dislike/{{ post.getId }}'" class="downvote" type="button">▼</button>
    </div>
    {% endfor %}
</div>
{% include 'footer.html.twig' %}


