{% include 'header.html.twig' %}
<h1>{{pageTitle}}</h1>
<div id="pageContainer">
    {% if user is defined %}
    <div id="loggedUser">Zalogowano jako: {{ user.getName() }} </div>
    <br>
    <a href="upload"><div class="kloc">Upload</div></a>
    <br>
    <a href="logout"><div class="kloc">Log out</div></a>
    <br><br>
    {% else %}
    <a href="login"><div class="kloc">Sign in</div></a>
    <br>
    <a href="register"><div class="kloc">Sign up</div></a>
    <br><br>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <img src='img/{{ post.getFilename() }}.webp'>
        <h5>Autor: {{post.getAuthorName()}} </h5>
        <h6>Post date: {{post.getTimestamp()}}</h6>
        <button onclick="location.href='like/{{ post.getId }}'" class="upvote" type="button">▲</button>
        <div class="votecounter"> {{ post.getLikes() }} </div>
        <button onclick="location.href='dislike/{{ post.getId }}'" class="downvote" type="button">▼</button>
    </div>
    {% endfor %}
</div>
{% include 'footer.html.twig' %}