{% include 'header.html.twig' %}
<h1>{{pageTitle}}</h1>
<div id="pageContainer">
    {% if user is defined %}
    <div id="loggedUser">Zalogowano jako: {{ user.getName() }} </div>
    {% endif %}
    {% for post in postArray %}
    <div id="post">
        <img src='img/{{ post.getFilename() }}.webp'>
        <h5>Autor: {{post.getAuthorName()}} </h5>
        <h6>Post date: {{post.getTimestamp()}}</h6>
    </div>
    {% endfor %}
</div>
{% include 'footer.html.twig' %}